<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if @title  %>
        <title><%= @title + " | #{SITE_NAME}" %></title>
    <% else %>
        <title><%="#{SITE_NAME}" %></title>
    <% end %>

    <link rel="stylesheet" href="/../css/main.css">
	
</head>
<body>
<div class="superwrapper">
	
	<%= erb :'includes/header' %>
	
		<div class="wrapper">
			<%= erb :'includes/flash' %>

        	<%= yield %>
		</div>
</div>
</body>
</html>